<html
  lang="hu"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
<!-- categories -->
<div class="aside-widget">
  <div class="section-title">
    <h3>Témák</h3>
  </div>
  <div class="category-widget">
    <ul>
      <li th:each="cat : ${catDist}"><a th:href="@{(${#request.servletPath} == '/' + ${cat}) ? '#0' : './' + ${cat}}">
          <button
            type="button"
            th:classappend="${cat}"
            th:with="kurzor=(${#request.servletPath} == '/' + ${cat}) ? none : pointer"
            th:style="
            'background-color:' + ${completeCats.get(cat).catcolor} 
            + '; border-color: ' + ${completeCats.get(cat).catcolor}
            + '; color: white'
            + '; cursor: ' + ${kurzor}
            "
          >
            <span th:text="${completeCats.get(cat).catname} + '&nbsp;'">catname</span> <span
              class="badge badge-light"
              th:text="${counted.get(cat)}"
              th:style="'background-color: white; color:' +  ${completeCats.get(cat).catcolor}"
            >count</span>
          </button>
      </a></li>
    </ul>
  </div>
</div>

<style>
button {
	display: inline-block;
    border: none;
	padding: 6px 20px;
    text-decoration: none;
 	font-size: 16px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.aside-widget {
	margin-bottom: 40px;
	padding-left: 20px;
	border-left: 1px solid #eceef2;
}

.category-widget ul li {
	display: block;
	padding-bottom: 10px;
}

.category-widget ul li+li {
	margin-top: 10px;
}
</style>

</html>