<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
<head>
<meta charset="utf-8"></meta>
<title>Title</title>
</head>
<body>

  <div layout:fragment="Content">

    <div
      id="post-header"
      class="page-header"
    >
      <div
        class="background-img"
        th:style="'background-image: url(img/' + ${control} + '.jpg);'"
      ></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10" th:object="${controlAll[0].cat}">
            <h1
              th:style="'color:' + *{catcolor}"
              th:text="*{catname}"
            >CAT</h1>
          </div>

        </div>
      </div>
    </div>

    <!-- /Page Header -->

    <!-- /Header -->

    <!-- section -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <!-- post -->

              <!-- post -->
              <div class="col-md-12">
                <article th:each="story : ${controlAll}">
                  <div class="post post-row">
                    <a
                      class="post-img"
                      th:href="@{${story.title}}"
                    ><img
                      th:src="${story.logo}"
                      alt=""
                    /></a>
                    <div class="post-body">
                      <div class="post-meta">
                        <a
                          class="post-category"
                          th:classappend="${control}"
                          th:text="${completeCats.get(control).catname}"
                        >Category</a> <span
                          class="post-date"
                          th:text="${#dates.format(story.posted, 'yyyy.MM.dd HH:mm')}"
                        >2020 május 26</span>
                      </div>
                      <h3 class="post-title">
                        <a
                          th:text="${story.title}"
                          th:href="@{${story.title}}"
                        >Ez itt a cím</a>
                      </h3>
                      <p th:text="${story.title_long}">Alcim</p>
                    </div>
                  </div>
                </article>
              </div>
              <!-- /post -->

            </div>
          </div>

          <div class="col-md-4">
            <div th:replace="~{fragments/cats}"></div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /section -->

  </div>

</body>
</html>
