<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
<head>
<meta charset="utf-8"></meta>
<title th:replace="layouts/main :: title">title</title>
</head>
<body>

  <div layout:fragment="Content">
    <!-- section -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- Post content -->
          <div class="col-md-8">
            <h2>Sikeres feltöltés!</h2>
            <h2>
              <a href="/createposts">Új post felvitele</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>

