<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<meta charset="utf-8"></meta>
<title th:replace="layouts/main :: title">title</title>
</head>
<body>

  <div layout:fragment="loginContent">

    <div id="post-header" class="page-header">
      <div class="background-img" style="background-image: url('./img/post-page.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1>SQL</h1>
          </div>

        </div>
      </div>
    </div>

    <!-- /Page Header -->

    <!-- /Header -->

    <!-- section -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <!-- post -->

              <!-- post -->
              <div class="col-md-12">
                <article th:each="story : ${sqlAll}">
                  <div class="post post-row">
                    <a class="post-img" th:href="@{${story.title}}"><img th:src="${story.logo}" alt="" /></a>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-4" th:text="${story.category}" th:href="${story.category}">Category</a> <span class="post-date"
                          th:text="${#dates.format(story.posted, 'yyyy.MM.dd HH:mm')}">2020 május 26</span>
                      </div>
                      <h3 class="post-title">
                        <a th:text="${story.title}" th:href="@{${story.title}}">Ez itt a cím</a>
                      </h3>
                      <p th:text="${story.title_long}">Alcim</p>
                    </div>
                  </div>
                </article>
              </div>
              <!-- /post -->

            </div>
          </div>

          <div class="col-md-4">

            <!-- post widget -->
            <div class="aside-widget"></div>
            <!-- /post widget -->

<div  th:replace="~{fragments/cats}"></div>

            <!-- archive -->
            <!-- 	<div class="aside-widget">
							<div class="section-title">
								<h2>Korábbiak</h2>
							</div>
							<div class="archive-widget">
								<ul>
									<li><a href="#">2019. május</a></li>

								</ul>
							</div>
						</div> -->
            <!-- /archive -->
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /section -->

  </div>

</body>
</html>
